doctype html
head
  title Orientation Games with Dr Ruben
  script(src='https://cdn.socket.io/4.0.1/socket.io.min.js')
  link(href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet")
  link(href="https://unpkg.com/nes.css@2.3.0/css/nes.min.css" rel="stylesheet")
  style.
    .container, .nav-brand{
      max-width: 900px;
      margin: 0 auto;
    }
    .nav-brand{
      margin-top: 50px;
      margin-bottom: 50px;
    }
    button{
      margin-bottom: 10px;
    }
    .show{
      display: flex;
    }
    .hidden{
      display: none;
    }
    .flex {
      display: flex;
    }
    .flex-2{
      justify-content: space-between;
      align-items: baseline;
    }
    .width-100{
      min-width: 580px;
    }
    .nes-container{
      border: none;
    }
    .large {
      font-size: 50px;
      color: red;
      font-weight: bolder;
    }
header
  .nav-brand
    h2
      i.nes-icon.is-large.star
      | Orientation Games with Dr Ruben

.container
  div
    div
      a(href="{{url_for('warmup')}}" ) 1. Warm up game
    div
      a(href="{{url_for('host_warmup')}}" target="_blank") 1. [HOST] Warm up game (New Tab)
    div
      a(href="{{url_for('player')}}") 2. Academic Integrity
    div
      a(href="{{url_for('host')}}" target="_blank") 2. [HOST] Academic Integrity (New Tab)



